[project]
	description = H2C driver implementation for cardhu reference design
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Alex Feinman (alexfeinman)
[access "refs/for/refs/*"]
	read = group user/Alex Feinman (alexfeinman)
	push = group user/Alex Feinman (alexfeinman)
	label-Code-Review = -2..+2 group user/Alex Feinman (alexfeinman)
	label-Verified = -1..+1 group user/Alex Feinman (alexfeinman)
	rebase = group user/Alex Feinman (alexfeinman)
	removeReviewer = group user/Alex Feinman (alexfeinman)
	submit = group user/Alex Feinman (alexfeinman)
[access "refs/heads/*"]
	read = group user/Alex Feinman (alexfeinman)
	create = group user/Alex Feinman (alexfeinman)
	push = +force group user/Alex Feinman (alexfeinman)
	pushMerge = group user/Alex Feinman (alexfeinman)
[access "refs/tags/*"]
	push = +force group user/Alex Feinman (alexfeinman)
	pushTag = group user/Alex Feinman (alexfeinman)
	pushSignedTag = group user/Alex Feinman (alexfeinman)
